.topAnchorPane {

}

.menuBar{

}

.rightAnchorPane {

}

.botAnchorPane {

}

.status {

}

.button {


}

.exitButton {
    -fx-background-color: #ff3700;
    -fx-background-image: url(../images/close.png);
    -fx-background-position: center;
    -fx-background-size: 18px 18px;
    -fx-background-repeat: no-repeat;

}





.minimizeButton {
    -fx-background-color: #00ff55;
    -fx-background-image: url(../images/whiteMinus.png);
    -fx-background-position: center;
    -fx-background-size: 25px 3px;
    -fx-background-repeat: no-repeat;
}

.addNewPatientButton {

}

.editSelectedPatientButton {

}

.removeSelectedPatientButton {

}

